body {
  
    background: rgb(56, 53, 53);
    background-size: cover;
    color: antiquewhite;
    font-weight: 500;

}
h1 {
  font-size: 25px;
}
a {
  text-decoration: none;
  color: inherit;
}
.infoBlock{
  display: flex;
  align-items: center;
}
.infoBlock p{
  margin: 0;
}
.refresh{
  padding: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.refresh:hover{
  animation: rotate 1s linear infinite;
  color: inherit;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.chatItems {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  transition: 0.4s ease;
}
.chatItems:hover {
  box-shadow: 1px 2px #333;
  cursor: pointer;
}
.chatItems.seen{
  background-color: rgba(119, 101, 101, 0.322);
}
.chatImg {
  width: 50px;
  height: 50px;
}
.textMassage {
  color: rgb(255, 255, 255);
}

/* .chatItems {
  transform: translateX(400%);
  transition: transform 0.4s ease-out;
}
.chatItems:nth-of-type(even) {
  transform: translateX(-400%);
}
.chatItems.show {
  transform: translateX(0);
}
  */



